<% if @book.errors.any? %>

  <div id="error_explanation">
    <div class="error_h2">
      <%= pluralize(@book.errors.count, "つのエラーが発生して、保存されませんでした。") %>
    </div>

      <ul>
        <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
  </div>

<% end %>   