<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="kioku_sessions">
        <h1 class="mb-3" style="font-size: 40px;">KIOKU</h1>
        <div class="d-grid gap-2 text-item-center">
          <%= link_to 'Login', new_user_session_path, class:"btn btn-primary" , style:"max-width: 600px; background-color:#1f3466; border: #1f3466;" %>
          <%= link_to 'Signup', new_user_registration_path, class:"btn btn-primary"  , style:"max-width: 600px; background-color:#1f3466; border: #1f3466;"%>
          <%= link_to 'Guest Login 閲覧用', users_guest_sign_in_path, method: :post , class:"btn btn-primary"  , style:"max-width: 600px; background-color:#1f3466; border: #1f3466;" %>
          <%= image_tag 'sleek.png' , style:"width: 450px;" %>
        </div>
      </div>
    </div>
  </div>
