<div class="page-header" style="margin-top: 250px;">
  <div class="container">
    <h1>お問い合わせ</h1>
    <h2 style="margin-top: 25px;line-height: 1.5;letter-spacing: 1.5px;">
      お問い合わせいただきありがとうございました。
      <br>本人から返信が来ますので、しばらくお待ちください。
    </h2>
  </div>
</div>
