@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Kosugi');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');

/*********************************
  初期設定
*********************************/
body {
  margin-top: 45px;
  margin-bottom: 10px;
  padding-bottom: 30px;
  width: 100%;
  height: 100%;
  overflow-y: scroll; //y = 縦のスクロール
  overflow-x: hidden; //x = 横のスクロールはダメですよ。
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}

/*********************************
	文字のスタイル
*********************************/
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  color: #3e4e73;
  font-size: 30px;
  letter-spacing: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  color: rgb(60, 60, 60);
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
  font-family: 'Noto Sans JP', sans-serif;
}
.white{
  font-size: 17px;
  color: #ffffff;
  font-family: 'Noto Sans JP', sans-serif;
}
/*********************************
	ヘッダーの設定
*********************************/
.logo {
  float: left;
  margin-left: 80px;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding-top: 10px;
  font-weight: bold;
}
.logo:hover {
  opacity: 0.5;
  text-decoration: none;
}
a:hover {
  opacity: 0.5;
}
.navbar-nav{
  margin-right: 60px;
  font-size: 0.8em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
li{
  margin-left: 10px;
}
//header_toggler
.navbar-dark .navbar-toggler{
  outline: none;
  border: none;
}

@media screen and (max-width: 1000px) {
  .logo {
    float: left;
    margin-left: 10px;
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding-top: 10px;
    font-weight: bold;
  }
  .navbar-nav{
    margin-right: 40px;
    font-size: 0.9em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
  }
  li{
    margin-left: 10px;
  }
}
@media screen and (max-width: 700px) {
  .logo {
    margin-left: 190px;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 10px;
    padding-top: 10px;
    font-weight: bold;
  }
  .navbar-collapse .navbar-nav  {
    height: 100vh;
    margin-left: 170px;
    margin-top: 175px;
    li{
      font-size: 20px;
      margin-top: 10px;
    }
    li:hover{
      font-size: 20px;
      margin-top: 10px;
      color: yellow;
    }
  }
  .navbar-collapse .navbar-nav .login2 {
    height: 100vh;
    margin-left: 180px;
    margin-top: 200px;
    li{
      font-size: 20px;
      margin-top: 10px;
    }
    li:hover{
      font-size: 20px;
      margin-top: 10px;
      color: yellow;
    }
  }
}
/*********************************
	フッターの設定
*********************************/
#footerWrap{
  width:100%;
  position: absolute;/*←相対位置*/
  padding-bottom: 30px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}
footer {
  width: 100%; /* フッター幅を指定*/
  height: 30px; 
  margin: 0 auto;
  background-color: #1f3466;
  color: #fff;
  text-align: center;
  padding: 3px 0;
  position: fixed;
  right: 0px;
  bottom: 0; 
}
footer a {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 2px;
  font-weight: bold;
  text-decoration: none;
}
footer a:hover {
  color: #fff;
  opacity: 0.5;
}
footer ul {
  float: right;
  margin-right: 20px;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 15px;
}
/*********************************
	formの設定
*********************************/
#error_explanation {
  color: rgb(241, 54, 54);
  padding: 28px;
  position: relative;
  top: -40px;
  text-align: center;
  list-style: none;
  text-decoration: rgb(255, 193, 193) wavy underline;
  background-color: rgb(235, 234, 234);
  border-radius:  10px;
  h2{
    color: rgb(241, 54, 54);
  }
  ul{
    list-style: none;
  }
}

.alert-success{
  color: rgb(0, 146, 2);
  text-decoration: rgb(70, 255, 73)  wavy underline;
  text-align: center;
  position: relative;
  top: 25px;
  padding: 0px;
  padding-bottom: 13px;
  .notice{
    color: rgb(0, 146, 2);
    text-decoration: rgb(70, 255, 73)  wavy underline;
    position: relative;
    top: 13px;
    padding: 5px;
  }
}

.alert-danger{
    color: rgb(241, 54, 54);
    text-align: center;
    text-decoration: rgb(255, 193, 193) wavy underline;
    position: relative;
    top: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: -20px;
  .alert{
    margin-top: 3px;
    margin-bottom: 2px;
  }
}

.form-label{
  font-size: 14px;
  color: #3e4e73;
  font-family: 'Noto Sans JP', sans-serif;
}
.form-label-red{
  font-size: 12px;
  color: rgb(241, 54, 54);
  font-family: 'Noto Sans JP', sans-serif;
}
.form-label-green{
  font-size: 12px;
  color: #429442;
  font-family: 'Noto Sans JP', sans-serif;
}
.form-label-brown{
  font-size: 15px;
  color: #88725b;
  font-family: 'Noto Sans JP', sans-serif;
}

.link{
  font-size: 13px;
  -webkit-text-stroke: 1px rgb(149, 163, 255);
  text-decoration: none;
  font-family: 'Noto Sans JP', sans-serif;
  color: #76e7fe;
}
.link:hover{
  font-size: 13px;
  text-decoration: underline;
  color: rgb(72, 173, 82);
  -webkit-text-stroke: 1px #33643c;
  opacity: 0.5;
  font-family: 'Noto Sans JP', sans-serif;
}

/*********************************
各ページの設定
*********************************/
// kioku user_show 
.kioku_show{
  margin-top: 100px;
  margin-bottom: 35px;
  p {
    line-height: 1.5em;
    font-family: none;
  }
}
//user_show image
@media screen and (max-width: 700px) {
  .kioku_show{
    margin-top: 80px;
    margin-bottom: 35px;
    .btn{
      margin-top: 0px!important;
      margin-left: -43px!important;
    }
    .profile_image{
      height: 100px!important;
      width: 100px!important;
    }
    .image_variable{
      width:165px!important; 
      height:165px!important;
      border-radius: 2px;
    }
    .image_set{
      margin-left: -9px;
      margin-bottom: -5px;
    }
    .posts{
      margin-left: -60px;
    }
    .follower{
      margin-left: -100px;
    }
    .follow{
      margin-left: -40px;
    }
  }
}
/*********************************
  ユーザー個人画面
*********************************/
@media screen and (max-width: 1450px) {
  .kioku_show{
    margin-top: 85px;
    margin-bottom: 5px;
    margin-left: -130px;
  .profile_image{
    margin-left: 60px;
    margin-bottom: -15px;
  }
  .container .image{
    margin-left: 40px;
  }
  .container .text-box{
    margin-right: 100px;
  }
  .posts{
    margin-left: 0px;
  }
  .follower{
    margin-left: -95px;
  }
  .follow{
    margin-left: -170px;
  }
  .btn{
    margin-top: -55px!important;
    margin-left: 90px!important;
    width: 400px!important;
    }
  }
}
@media screen and (max-width: 1400px) {
  .kioku_show{
    margin-top: 85px;
    margin-bottom: 5px;
    margin-left: -75px;
  .profile_image{
    margin-left: 60px;
    margin-bottom: -15px;
  }
  .container .image{
    margin-left: 40px;
  }
  .container .text-box{
    margin-right: 100px;
  }
  .posts{
    margin-left: 0px;
    .nunber{
      margin-left: 15px;
    }
  }
  .follower{
    margin-left: -65px;
    .nunber{
      margin-left: 16px;
    }
  }
  .follow{
    margin-left: -110px;
    .nunber{
      margin-left: 18px;
    }
  }
  .btn{
    margin-top: -55px!important;
    margin-left: 90px!important;
    width: 400px!important;
    }
  }
}
@media screen and (max-width: 1200px) {
  .kioku_show{
    margin-top: 80px;
    margin-bottom: 35px;
    .profile_image{
      margin-left: 30px;
      margin-bottom: -22px;
    }
  .btn{
      margin-top: -30px !important;
      margin-left: 95px !important;
      max-width: 350px;
    }
    .image_set{
      margin-left: -9px;
      margin-bottom: -5px;
    }
    .posts{
      margin-left: 10px;
      .nunber{
        margin-left: 15px;
      }
    }
    .follower{
      margin-left: -25px;
      .nunber{
        margin-left: 16px;
      }
    }
    .follow{
      margin-left: -50px;
      .nunber{
        margin-left: 18px;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .kioku_show{
    margin-top: 80px;
    margin-bottom: 35px;
    margin-left: -55px;
    .profile_image{
      margin-left: 30px;
      margin-bottom: -22px;
    }
  .btn{
      margin-top: -50px !important;
      margin-left: 0px !important;
      max-width: 350px;
    }
    .image_set{
      margin-left: -9px;
      margin-bottom: -5px;
    }
    .posts{
      margin-left: 10px;
      .nunber{
        margin-left: 15px;
      }
    }
    .follower{
      margin-left: -10px;
      .nunber{
        margin-left: 16px;
      }
    }
    .follow{
      margin-left: -8px;
      .nunber{
        margin-left: 18px;
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .kioku_show{
    margin-top: 80px;
    margin-left: -55px;
    .profile_image{
      margin-left: 30px;
      margin-bottom: -22px;
    }
  .btn{
      margin-top: -35px !important;
      margin-left: -14px !important;
      max-width: 300px;
    }
    .image_set{
      margin-left: -9px;
      margin-bottom: -5px;
    }
    .posts{
      margin-left: -2px;
      .nunber{
        margin-left: 15px;
      }
    }
    .follower{
      margin-left: -18px;
      .nunber{
        margin-left: 16px;
      }
    }
    .follow{
      margin-left: -14px;
      .nunber{
        margin-left: 18px;
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .kioku_show{
    margin-top: 80px;
    margin-left: -55px;
    .profile_image{
      margin-left: 32px;
      margin-bottom: -25px
    }
  .btn{
      margin-top: -5px !important;
      margin-left: -10px !important;
      max-width: 250px;
    }
    .image_set{
      margin-left: -18px;
    margin-bottom: -5px;
    }
    .posts{
      margin-left: -13px;
      .nunber{
        margin-left: 15px;
      }
    }
    .follower{
      margin-left: -40px;
      .nunber{
        margin-left: 16px;
      }
    }
    .follow{
      margin-left: -42px;
      .nunber{
        margin-left: 18px;
      }
    }
    .image_variable{
      width:150px!important; 
      height:150px!important;
      border-radius: 2px;
    }
  }
}
@media (min-width: 1400px){
.kioku_show{
  .col-xl-4 {
  margin-left: -120px!important;
}
}}
@media (min-width: 1200px){
.kioku_show .col-xl-4 {
    margin-left: -65px;
}
}
/*********************************
image_size
*********************************/
.image_variable{
  width:300px; 
  height:300px;
  margin-bottom: 10px;
  border-radius: 2px;
}
.kioku_edit{
  margin-top: 140px;
  margin-bottom: 20px;
}
.kioku_index{
  margin-top: 100px;
  margin-bottom: 20px;
  .main_image{
    width: 450px!important;
    height: 450px!important;
  }
  .card{
    width: 450px!important;
  }
}
@media screen and (max-width: 700px) {
  .fa-ellipsis-h {
    margin-left: 427px!important;
    position: absolute;
    top: -42px;
}
  .main_image{
    width: 500px!important;
    height: 450px!important;
  }
  .card{
    width: 500px !important;
    margin-left: -11px;
    border: none;
  }
}
.kioku_sessions{
  margin-top: 150px;
}
.kioku_new{
  margin-top: 150px;
  #error_explanation {
    position: relative;
    top: 0px;
    max-width: 600px;
  }
}
/********************************* 
  postページ
*********************************/
.kioku-posts-index{
  margin-bottom: 10px;
  h6{
    margin-right: 5px;
  }
}
.fa-ellipsis-h {
  margin-left: 388px;
  position: absolute;
  top: -42px;
}
.dropdown-menu.show {
  margin-top: -25px;
  margin-right: 9px;
}
a{
  text-decoration: none;
}
.card-profile{
  margin-top: -35px;
}

.kioku_post_show{
  margin-top: 62px;
  margin-bottom: -5px;
  .fa-ellipsis-h {
    margin-left: 385px!important;
    position: absolute;
    top: -42px;
}
  .main_image{
    width: 450px!important;
    height: 450px!important;
  }
  .card{
    width: 450px!important;
  }
  .dropdown-menu{
    margin-top: -12px!important;
    margin-right: 4px!important;
  }
}

@media screen and (max-width: 700px) {
  .kioku_post_show{
    margin-top: 57px;
    margin-bottom: -5px;
    .fa-ellipsis-h {
      margin-left: 420px !important;
      position: absolute;
      top: -42px;
  }
  .image{
      width: 500px!important;
      height: 450px!important;
    }
    .card{
      width: 500px!important;
    }
    .dropdown-menu{
      margin-top: -12px!important;
      margin-right: 4px!important;
    }
  }
  .col-4 {
    width: 27.333333%;
}
.profile_image {
  margin-left: 80px;
  margin-bottom: -30px;
}
}

//user_design
.user_edit{
  margin-top: 60px;
}
/*********************************
  plus画像設定
*********************************/
.plus{
  display: none;
}
@media screen and (max-width: 700px) {
  .plus {
    display: block;
    width: 60px;
    visibility:visible;
    cursor: pointer;
    opacity: 0.5;
    position: fixed;
    bottom: 42px;
    right: 20px;
    transition: 0.1s;  
    filter: drop-shadow(0 0 0);
  }
  .plus:active {
    opacity: 1.5;
    position: fixed;
    bottom: 44px;
    right: 20px;
    filter: drop-shadow(2px 2px 2px rgb(138, 138, 138));
  }
}
@media screen and (max-width: 1000px) {
  .plus {
    display: block;
    width: 60px;
    visibility:visible;
    cursor: pointer;
    opacity: 0.5;
    position: fixed;
    bottom: 42px;
    right: 20px;
    transition: 0.1s;  
    filter: drop-shadow(0 0 0);
  }
  .plus:active {
    opacity: 1.5;
    position: fixed;
    bottom: 44px;
    right: 20px;
    filter: drop-shadow(2px 2px 2px rgb(138, 138, 138));
  }
}
/*********************************
メディアクエリ
*********************************/
@media screen and (max-width: 1000px) {
  .margin-left{
    margin-left: 80px;
  }
  .image_variable{
    width:180px; 
    height:180px;
  }
}
@media screen and (max-width: 700px) {
  .image_variable{
    width:160px; 
    height:160px;
  }
  .margin-left{
    margin-left: 60px;
  }
  .alert {
    color: rgb(241, 54, 54);
    text-align: center;
    text-decoration: rgb(255, 193, 193) wavy underline;
    font-size: 14px;
  }
  .user-card{
    margin-left: 110px;
  }
}