<div class="container">
  <div class="row">
    <div class="kioku-posts-index">
      <% @posts.each do |post| %> 
        <% if post.day_delete? %> 
          <%= render partial: 'posts_all', locals: { post: post} %>  
        <% end %> 
      <% end %> 

    </div><!-- kioku-posts-index !-->
  </div><!-- row !-->
</div><!-- container !-->