  <div><%= @user.username %>様</div>

  <div>KIOKUをご利用いただきありがとうございます。</div>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールが変更されることを通知するためにご連絡いたします<%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>メールアドレスが次のように変更されたことをお知らせするためにご連絡いたします。<%= @resource.email %>.</p>
<% end %>
