<div><%= @user.username %>様</div>

<div>KIOKUをご利用いただきありがとうございます。</div>

<p>パスワードを変更するためのリンクをリクエストしました。以下のリンクからこれを行うことができます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>これをリクエストしなかった場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>