<div id="footerWrap">
    <footer class="footer">
        <nav>
        <ul>
            <a harf>
            <li><%= link_to "SHIORI" "https://boiling-atoll-49275.herokuapp.com/#" %></li>
            <li><%= link_to "JINKUN" %></li>
            <li><%= link_to "CONTACT" %></li>
        </ul>
        </nav>
    </footer>
</div>